{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

<div class="results-container">
  <div class="decoration-container"><div class="decoration"></div></div>
  {% for book in book_collection %}

  <form method="POST" action="{{ url_for('books.book_query_info')}}" style="display: inline;">
    <input type="hidden" name="book" value='{{ book | tojson | safe }}'>
    <button type="submit" class="group movie-card">
      <img src="{{ book.book_cover }}" class="movie-card-img" alt="missing" />
      <h5 class="movie-card-content"> {{ book.title }}
        <span class="text-neutral-400 font-normal"> {{ book.author }} </span>
      </h5>
    </button>
  </form>

  {% endfor %}
</div>

{% endblock %}