{% extends "header.html" %} {% block content %}
<div class="main-container">
  <div class="decoration-main-container"><div class="decoration-main"></div></div>
  <h2 class="main-title"> Welcome to Book Tracker! </h2>

  {% if current_user.is_authenticated %}
    <div class="flex">
      <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('users.collection') }}">view collection</a>
      <a class="my-5 mr-5 ml-0 navlink" href="{{ url_for('books.add_book') }}">add book</a>
    </div> 
  
  {% else %}
    <h3>Please Register or Log In!</h3>
  {% endif %} 

</div>
{% endblock %}
